body div.container {
  font-family: tahoma;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  margin: auto;
  width: 50%;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 32px 0;
  display: inline-block;
  border: radius 1px;
  box-sizing: border-box;
}

div.img {
  cursor: pointer;
  padding: 16px;
  width: 50%;
  text-align: center;
  margin: 0px 0px 0px 100px;
  position: relative;
}
img.avatar {
  width: 20%;
  border-radius: 50%;
}
button {
  background-color: #c7b93e;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  

